<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

    <link rel="stylesheet" href="../css/home.css" >

<link rel="stylesheet" href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">

<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script>

</head>
<body>


    <div class="d-flex" id="wrapper">

    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom sticky-top">
        <div id="userlogo"> <center><i class="zmdi zmdi-account"></i></center> </div>


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active " style="border-bottom: 1px solid black; display: block">
              <a class="nav-link" href="{{url_for('home')}}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item " style="border-bottom: 1px solid black; display: block">
              <a class="nav-link" href="{{url_for('calc')}}">Calculate Here!</a>
            </li>
            <li class="nav-item " style="border-bottom: 1px solid black; display: block">
              <a class="nav-link " href="contacts.html">
                Contact us
              </a>

            </li>
          </ul>
        </div>
      </nav>
        <div class="container">
       <div class="page-header">
            <h3>Home</h3>
        </div>
        <center>
        <div id="now"> <p >This application helps the users to predict any possibility of cardiac attack. The user simply need to add the medical details carefully from his/her medical report.</p></div>

         </center>


    </div>
        </div>

        </div>

</body>
</html>
